.ui-widget, .ui-widget .ui-widget {
    font-size: 110%;
}

.ui-datepicker-inline {
    font-size: 90%;
}

input {
    padding: 8px 5px;
}

#contentDiv {
    clear: both;
    padding: 10px 10px 0 10px;
}

.footerText {
    margin-bottom: 30px;
}

.footerText a {
    font-size: 14px;
}

.smallTableHeader {
    font-size: 12px;
}
.smallText {
    font-size: 11px;
}

.navigationLink {
    padding-bottom: 5px;
}

.backToTopLink {
    display: inline;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    z-index: 500;
}

.menu {
    margin: 0 10px;
}