.ui-widget, .ui-widget .ui-widget {
    font-size: 110%;
}

.ui-datepicker-inline {
    font-size: 90%;
}

.ui-paginator-pages .ui-paginator-page,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last {
    font-size: 80%;
}

body, input, a {
    font-size: 18px;
}

input {
    padding: 8px 5px;
}

#contentDiv {
    clear: both;
    padding: 10px 10px 0 10px;
}

.footerText a {
    font-size: 14px;
}

.smallTableHeader {
    font-size: 12px;
}

.smallText {
    font-size: 11px;
}

.navigationLink {
    padding-bottom: 5px;
}

.backToTopLink {
    padding-top: 5px;
    width: 100%;
    position: fixed;
    bottom: 15px;
    background-color: white;
    z-index: 500;
}